{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Об авторе проекта</h1>
  <p>Меня зовут Анастасия Таубе, я являюсь разработчиком
    данного учебного проекта, выполненного в рамках курса "Python-разработчик"
    от Яндекс.Практикума.
  </p>
  <p>В 2020 году я получила диплом бакалавра с отличием по специальности
    "Информатика и вычислительная техника" в РГСУ. Тема
    <a href="https://github.com/taube-a/Car_traffic_analyzer" target="_blank">
      дипломного проекта</a> - "Программа для распознавания видов транспортных
    средств на видео с помощью компьютерного зрения".
  </p>
  <p>Сейчас обучаюсь на курсе Яндекс.Практикума.</p>
  <h4>Мои навыки:</h4>
  <ul>
    <li>
      <a href="https://github.com/taube-a/Fitness-Tracker-Module"
         target="_blank">
        Python 3.x;
      </a>
    </li>
    <li>
      <a href="https://github.com/taube-a/yatube_project" target="_blank">
        Django;
      </a>
    </li>
    <li>
      <a href="https://github.com/taube-a/yatube_project" target="_blank">
        SQL;
      </a>
    </li>
    <li>
      <a href="https://taube-a.github.io/rsschool-cv/" target="_blank">
        Основы HTML и CSS;
      </a>
    </li>
  <li>
    <a href="https://github.com/taube-a" target="_blank">
      Git.
    </a>
  </li>
  </ul>
  <p><b>Сейчас
    <a href="https://hh.ru/resume/afe3aadeff09ea0d500039ed1f46554d61674f"
       target="_blank">
      ищу работу</a>
    на позицию <i>Junior Python Backend Developer</i>.</b></p>
  <p>Я быстро учусь, при этом стремлюсь доводить результат работы до
    совершенства. Если случай совсем сложный: ни документация, ни гугл, ни
    стаковерфлоу не помогают — не боюсь обратиться к старшим.
  </p>
  <p>Через 5 лет вижу себя Senior'ом, которая помимо основной работы преподаёт
    в вузе, чтобы помочь студентам как можно быстрее "вкатиться в IT"
    <span style="color: lightgrey">
      (ведь все мы знаем, что сейчас преподают в среднестатистическом ВУЗе (; )
    </span>
  </p>
  <p>Если моя кандидатура Вас заинтересовала,
    <a href="mailto:Taube.Anastasia@yandex.ru">пишите</a>
    !
  </p>
{% endblock %}