{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h1>Технологии, использованные при создании проекта</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2
      </li>
      <li class="list-group-item">
        SQL
      </li>
      <li class="list-group-item">
        Git
      </li>
      <li class="list-group-item">
        HTML, CSS
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>В качестве задания модуля было предложено следующее шуточное
        техническое задание, в соответствии с которым был написан данный сайт.
    </p>
    <blockquote>
      <p><i>Необходимо разработать социальную сеть для публикации личных
        дневников.
        <br>
        Это будет сайт, на котором можно создать свою страницу. Если на нее
        зайти, то можно посмотреть все записи автора.
        <br>
        Пользователи смогут заходить на чужие страницы, подписываться на
        авторов и комментировать их записи.
        <br>
        Автор может выбрать имя и уникальный адрес для своей страницы. Дизайн
        можно взять самый обычный, но красивый. Тексты без особой разметки.
        <br>
        Должно выглядеть нормально, поиграйте со шрифтами. Еще надо иметь
        возможность модерировать записи и блокировать пользователей, если
        начнут присылать спам.
        <br>
        Записи можно отправить в сообщество и посмотреть там записи разных
        авторов.
        <br>
        Вы же программисты, сами понимаете, как лучше сделать.</i></p>
    </blockquote>
  </article>
</div>
{% endblock %} 