{% extends "base.html" %}


{% block title %} {{ group }} пользователя {{ author }} {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-10">
      <h1>{{ group }} пользователя {{ author }}</h1>
      {% if user.username != author.username and user.is_authenticated %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
            <a
              class="btn btn-lg btn-primary"
              href="{% url 'posts:profile_follow' author.username %}" role="button"
            >
              Подписаться
            </a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-2">
      Группа:
      <form method="post" enctype="multipart/form-data"
            action="{% url 'posts:group_filter' author.username %}"
      >
        {% csrf_token %}
        <select name="groups" required="required">
            <option value="">Выберите значение</option>
            {% for option in groups %}
              <option value="{{ forloop.counter }}">{{ option.title }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary"> Искать </button>
      </form>
    </div>
  </div>

  {% for post in page_obj %}

    {% include "includes/article.html" %}

    {% if not forloop.last %} <hr> {% endif %}

  {% endfor %}

  {% include 'includes/paginator.html' %}

{% endblock %}